spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/your_database
    username: your_username
    password: your_password
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
  flyway:
    enabled: true

api:
  security:
    token:
      secret: your_jwt_secret_here
      refreshSecret: your_refresh_secret_here

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html